@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
<<<<<<< HEAD

=======
a:hover{
    color:$main-color;
}
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
html {
    font-size: 15px;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

@each $color,
$value in $colors {
    .color-#{$color} {
        color: $value;
    }

    .bg-#{$color} {
        background-color: $value;
    }
}

@each $frame in $numbers {
<<<<<<< HEAD
    .grid-col-#{frame} {
=======
    .grid-col-#{$frame} {
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
        grid-template-columns: repeat($frame, 1fr);
    }

}

@each $frame in $numbers {
<<<<<<< HEAD
    .grid-col-md-#{frame} {
=======
    .grid-col-md-#{$frame} {
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
        @include tablet {
            grid-template-columns: repeat($frame, 1fr);

        }
    }

}

@each $frame in $numbers {
<<<<<<< HEAD
    .grid-col-sm-#{frame} {
        @include mobile {
            grid-template-columns: repeat($frame, 1fr);

=======
    .grid-col-sm-#{$frame} {
        @include mobile {
            grid-template-columns: repeat($frame, 1fr);
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
        }
    }

}

.container {
    width: 100%;
    max-width: $max-Desktop-width;
<<<<<<< HEAD
    padding: 0 100px;
    margin: auto;

=======
    padding: 0 50px;
    margin: auto;
    
    @include tablet{
        padding:0;
    }
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
    @include tablet {
        padding: 0 20px;

    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 40rem;
    @include tablet {
        margin-top: calc(($header-tablet-height)+20px)
    }

    @include mobile {
        margin-top: calc(($header-tablet-height)+10px)
    }
<<<<<<< HEAD
}   
=======
}   
.grid{
    display: grid;
}
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
