@mixin flex($align-item,$justify-content ){
<<<<<<< HEAD
    display: flex;
=======
    display: flex !important;
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
    justify-content: $justify-content;
    align-items:$align-item ;
}
@mixin flex-direction($flex-direction,$flex-wrap) {
    flex-wrap: $flex-wrap;
    flex-direction: $flex-direction;
}
@mixin tablet{
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width){
        @content;
    }
}
@mixin mobile{
    @media (min-width: $min-mobile-width) and (max-width: $max-mobile-width){
        @content;
    }
}
<<<<<<< HEAD
=======
@mixin Desktopbetween{
    @media(min-width: $min-between-width) and (max-width: $max-between-width){
        @content;
    }
}
>>>>>>> 6c4e8ef71f4b232713a84c3dce9ea04f81844b39
