.product-card{
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:2rem;
    margin-bottom: 30px;
    &__image{
        padding-top:100% ;
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;
        
        img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
       
        &:nth-child(1){
            transform: translateX(-50%) scale(0);
            transition: transform 0.5s ease;

        }
        &:nth-child(2){
            transform: translate(-50%) scale(1);
        }
    }
        &:hover img{
            &:nth-child(1){
                transform: translateX(-50%) scale(1);

    
            }
            &:nth-child(2){
                transform: translate(-50%) scale(0);
                transition: transform 0.5s ease;
            }
        }
    }
    &__name{
        margin-bottom: 10px;
        color: $txt-second-color;
        font-size:1.2em;
        font-weight:normal;

    }
    &__price{
        color: $txt-main-color;
        font-size:1.5em;
        font-weight:600;
        margin-bottom:10px;
     &__old{
        color: $txt-second-color;
        margin-left:1.2em;
    }
    }
}